{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
   Bienvenue {{ user.getFirstname() }}
   <h2>Voici parties les plus récentes :</h2>
   <ul>
   {% for game in games %}
      <li>{{ game.getUser1().getId() }} - {{ game.getUser2().getId() }}</li>
   {% endfor %}
   </ul>
   - Voir tout -
{% endblock %}
