{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block body %}
<h1>Welcome to my game blyat!</h1>
    <a href="{{ path('new_game') }}">Play !</a>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js" integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy" crossorigin="anonymous"></script>
<script>
    const socket = io('nathandfd.fr:8080');

    socket.on('opponent_'.{{ user_id }},msg=>{
        console.log(msg)
    })
</script>
{% endblock %}
