<h1>Bonjour, merci de confimer votre mail afin de finir l'étape de crétaion de votre compte sur Handling</h1>

<p>
    Merci de confirmer votre adresse mail en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Le lien va expirer dans 1 heure {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement,<br>L'équipe Handling
</p>
