{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <h1 id="title">You're now wainting for another player</h1>

    <script>
        const es = new EventSource('http://localhost:3000/.well-known/mercure?topic=' + encodeURIComponent('http://example.com/books/1'));
        es.onmessage = e => {
            let data = JSON.parse(e.data)
            if (data.game_id){
                setTimeout(()=>{
                    document.location = '/game/show-game/'+data.game_id
                },1500)
            }
            if (data.opponent){
                let element = document.createElement('h2')
                element.innerHTML = `Adversaire trouvé : ${data.opponent}`
                document.getElementById('title').insertAdjacentElement('afterend',element)
            }
        }
    </script>
{% endblock %}
